extends layout

block content
  div(id="headerSection")
    img(src="/img/icon_big.png")
    h1 Authentication Done
    p We have connected with your Last.fm profile satisfactorily. Please close this window and open your DiskStation Manager to start enjoying Audio Station Steroids.